//
//  Debug-Config.xcconfig
//  WeatherApp
//
//  Created by Tushar on 30/09/19.
//  Copyright © 2019 Tushar. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DARKSKY_API_KEY = feb2e5c40ca2ee31a0994048fad45258
